<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<body>
<form  th:action="@{/addData}" th:object="${company}" method="post">
    <table>
        <tr>
            <td>
                Name of company:
            </td>
            <td>
                <input id="login" type="text" name="login" th:field="${user.login}"/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="save">add</button>
            </td>
            <td>
            </td>
        </tr>
    </table>
</form>
</body>
</html>